@model MusicStore.Models.Album

@{
    ViewBag.Title = "Delete";
}

<div class="text-center">
<h2 class="mt-2">Delete Album</h2>

<h4>Are you sure you want to delete <em>@Model.Title</em>?</h4>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
